{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./",
    "paths": {
      "@category/*": ["src/category/*"],
      "@config/*": ["src/config/*"],
      "@developer/*": ["src/developer/*"],
      "@game/*": ["src/game/*"],
      "@health/*": ["src/health/*"],
      "@platform/*": ["src/platform/*"],
      "@publisher/*": ["src/publisher/*"]
    }
  },
  "minify": true
}
